{% extends "base.html" %}
{% block title %}{{ post.title }} - Django Blog{% endblock title %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <!-- Post Content -->
        <div class="col-md-8 card mb-4 shadow">
            <div class="card-body">
                <h1>{{ post.title }}</h1>
                <p class="text-muted">{{ post.author }} | {{ post.created_on }}</p>
                <p>{{ post.content|safe }}</p>
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-md-4">
            {% include 'sidebar.html' %}
        </div>
    </div>
</div>
{% endblock content %}
